/* h1,h2{ */
    /* color:whitesmoke;
    text-align: left;
    background-color: #141111; */
/* } */


body{
    margin-left:3%;
}

#controls{
    margin: 3%;
}

div .slider{
    margin-top: 1%;
}

#webcam_stream{
    position:relative;
}

/* #canvas{
    position: absolute;
    z-index: 1;
} */

/* #overlay{
    position: absolute;
    z-index: 0;
    display:block;
} */